<script>
  import { onMount } from "svelte";
  import FileList from "./FileList.svelte";
  import Profile from "./Profile.svelte";
  import io from "socket.io-client";
  import utils from "./utils";
  import { v4 as uuidv4 } from "uuid";

  let profiles = [];
  onMount(async () => {
    fetchProfiles();
  });

  const fetchProfiles = async () => {
    const response = await fetch(`${__env.socketUrl}/api/profiles`);
    profiles = await response.json();
  };

  const socket = io(__env.socketUrl);

  const props = {
    showTable: false,
    fileObjects: null,
    inputUrlStr: "",
    isDownload: false
  };

  const supportedProtocol = ["http", "https", "ftp", "sftp"];

  socket.on("message", message => {
    if (message.ref && props.fileObjects) {
      props.fileObjects = props.fileObjects.map(obj => {
        if (obj.ref == message.ref) {
          obj.status = message.status;
        }
        return obj;
      });
    }
  });

  const inputChanged = () => {
    const urls = props.inputUrlStr;
    if (urls && urls != "") {
      props.fileObjects = utils
        .splitUrls(urls)
        .filter(utils.isUrlValid)
        .map(utils.getUrlComponent)
        .filter(e => supportedProtocol.includes(e.protocol))
        .filter(
          (thing, i, self) => i === self.findIndex(t => t.url === thing.url)
        )
        .map(e => {
          const [profile] = profiles.filter(
            p => p.hostname == e.hostname && p.protocol == e.protocol
          );
          e.profile = profile || {};
          e.ref = uuidv4();
          return e;
        });
    }
  };

  const postFiles = async () => {
    props.isDownload = true;
    const payload = props.fileObjects.map(toApiModel);
    const res = await fetch(`${__env.socketUrl}/api/files`, {
      method: "POST",
      body: JSON.stringify(payload),
      headers: { "Content-Type": "application/json" }
    });

    if (res.status == 200) {
      res.json().then(json => {
        props.fileObjects = props.fileObjects.map(file => mapInfo(file, json));
      });
    }
  };

  const toApiModel = fileObject => {
    return {
      href: fileObject.url,
      name: fileObject.filename,
      ref: fileObject.ref,
      protocol: fileObject.protocol,
      profile: fileObject.profile,
      hostname: fileObject.hostname,
      path: fileObject.path
    };
  };

  const mapInfo = (file, mapList) => {
    const [mappedFile] = mapList.filter(f => f.ref === file.ref);
    if (mappedFile) {
      file.savedName = mappedFile.savedName;
      file.status = mappedFile.status;
    }
    return file;
  };
</script>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sd-0" />
      <div class="col-md-10 col-sd-12">
        <Profile {profiles} {fetchProfiles} />
        <FileList {props} {postFiles} {inputChanged} />
      </div>
      <div class="col-md-1 col-sd-0" />
    </div>
  </div>
</main>
