<script>
  export let props;
  export let postFiles;
  export let inputChanged;
  const columnName = [
    "#",
    "Protocol",
    "Hostname",
    "Filename",
    "Dest. Filename",
    "Profile",
    "Status",
  ];
</script>

<h2 class="mt-5">Batch Download</h2>
<p>
  put links here
  <br />
  eg.
  <br />
  http://ipv4.download.thinkbroadband.com/5MB.zip,
  <br />
  ftp://test.rebex.net/pub/example/KeyGenerator.png,
  <br />
  sftp://test.rebex.net/readme.txt
</p>
<div class="input-group gy-5">
  <span class="input-group-text">Links</span>
  <textarea
    class="form-control"
    aria-label="links"
    bind:value={props.inputUrlStr}
    on:input={inputChanged} />
</div>

{#if props.fileObjects}
  <table class="table">
    <thead>
      <tr>
        {#each columnName as col}
          <th scope="col">{col}</th>
        {/each}
      </tr>
    </thead>
    <tbody>
      {#each props.fileObjects as file, i}
        <tr>
          <th scope="row">{i + 1}</th>
          <td>{file.protocol}</td>
          <td>{file.hostname}</td>
          <td>{file.filename}</td>
          <td>{file.savedName || ''}</td>
          <td>
            {file.profile.name ? `${file.profile.protocol}:${file.profile.name}` : ''}
          </td>
          <td>
            {#if file.status == 'pending'}
              <span class="badge bg-info text-dark">{file.status}</span>
            {/if}
            {#if file.status == 'downloading'}
              <span class="badge bg-warning text-dark">{file.status}</span>
            {/if}
            {#if file.status == 'finish'}
              <span class="badge bg-success">{file.status}</span>
            {/if}
            {#if file.status == 'fail'}
              <span class="badge bg-danger">{file.status}</span>
            {/if}
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
  {#if !props.isDownload}
    <button
      type="button"
      class="btn btn-primary mt-1 mb-1"
      on:click={postFiles}>
      Download
    </button>
  {/if}
{/if}
