<script>
  export let profiles;
  export let fetchProfiles;
  const columnName = [
    "#",
    "Protocol",
    "Name",
    "Hostname",
    "Username",
    "Password"
  ];
  let toggleForm = false;
  let inputProfile = {};
  const onAddButton = () => {
    if (toggleForm) {
      fetch(`${__env.socketUrl}/api/profiles`, {
        method: "POST",
        body: JSON.stringify(inputProfile),
        headers: { "Content-Type": "application/json" }
      }).then(() => fetchProfiles());
      inputProfile = {};
    }
    toggleForm = !toggleForm;
  };
</script>

{#if profiles.length}
  <h2 class="mt-5">Protocol profiles</h2>
  <table class="table">
    <thead>
      <tr>
        {#each columnName as col}
          <th scope="col">{col}</th>
        {/each}
      </tr>
    </thead>
    <tbody>
      {#each profiles as profile, i}
        <tr>
          <th scope="row">{i + 1}</th>
          <td>{profile.protocol}</td>
          <td>{profile.name}</td>
          <td>{profile.hostname}</td>
          <td>{profile.username}</td>
          <td>{profile.password}</td>
        </tr>
      {/each}
    </tbody>
  </table>
  {#if toggleForm}
    <form>

      <div class="m-1 row g-3 align-items-center">
        <div class="col-1">
          <label for="protocol" class="col-form-label">Protocol</label>
        </div>
        <div class="col-auto">
          <input
            type="text"
            id="protocol"
            class="form-control"
            bind:value={inputProfile.protocol} />
        </div>
      </div>

      <div class="m-1 row g-3 align-items-center">
        <div class="col-1">
          <label for="name" class="col-form-label">Name</label>
        </div>
        <div class="col-auto">
          <input
            type="text"
            id="name"
            class="form-control"
            bind:value={inputProfile.name} />
        </div>
      </div>

      <div class="m-1 row g-3 align-items-center">
        <div class="col-1">
          <label for="hostname" class="col-form-label">Hostname</label>
        </div>
        <div class="col-auto">
          <input
            type="text"
            id="hostname"
            class="form-control"
            bind:value={inputProfile.hostname} />
        </div>
      </div>

      <div class="m-1 row g-3 align-items-center">
        <div class="col-1">
          <label for="username" class="col-form-label">Username</label>
        </div>
        <div class="col-auto">
          <input
            type="text"
            id="username"
            class="form-control"
            bind:value={inputProfile.username} />
        </div>
      </div>

      <div class="m-1 row g-3 align-items-center">
        <div class="col-1">
          <label for="password" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
          <input
            type="text"
            id="password"
            class="form-control"
            bind:value={inputProfile.password} />
        </div>
      </div>

    </form>
  {/if}
  <button
    type="button"
    class="btn btn-primary mt-1 mb-1"
    on:click={onAddButton}>
    Add profile
  </button>
{/if}
